@import '../../variables';

nav {
  height: 100%;
  margin: 60px 40px 0;
  max-width: 100%;
}

nav ul {
  height: 20px;
  list-style: none;
  margin: 0;
  display: block;
  float: left;
  padding: 0;
  position: relative;
  width: 100%;
}

nav a:hover,
nav span:hover {
  background-color: inherit;
}

nav a:link,
nav a:visited,
nav span {
  text-decoration: none;
  display: block;
  font-size: 20px;
  text-align: left;
}

nav ul ul {
  display: none;
  position: inherit;
  top: 100%;
  margin-left: 24px;
}

nav ul li:hover > ul {
  position: absolute;
  top: 60px;
  width: max-content;
  display: contents;
}

nav ul li ul li {
  min-width: 170px;
  float: none;
  display: list-item;
  position: relative;
  background-color: $background-color;
  padding-left: 24px;
}

.rhr-arrow {
  margin-left: 6px;
  margin-bottom: 3px;
  border: solid $common-link-color;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.rhr-caret {
  color: $common-link-color;
  cursor: pointer;
  user-select: none;
  line-height: $line-height-main-menu;
}

.rhr-active-color {
  color: $active-link-color;
}

.rhr-common-color {
  color: $common-link-color;
}

.rhr-sub-menu-link {
  padding: 0;
  line-height: $line-height-sub-menu;
}

.rhr-main-menu-link {
  line-height: $line-height-sub-menu;
  padding: 0;
}

.rhr-main-access {
  display: flex;
  justify-content: center;
}

/* DESKTOP */
@media only screen and (min-width: 768px) {
  nav {
    margin: 0 0 0 15px;
  }

  nav a:hover,
  nav span:hover {
    color: $active-link-color;
  }

  nav span:hover > i {
    border: solid $active-link-color;
    border-width: 0 1px 1px 0;
  }

  nav ul li {
    margin: auto;
    display: inline-block;
  }

  nav ul li ul li {
    padding-left: 0;
  }

  nav ul {
    height: 100%;
    display: -webkit-box; /*flex;*/
  }

  nav ul ul {
    margin-left: 0;
    position: inherit;
  }

  .rhr-main-access {
    display: none;
  }

  nav ul li:hover > ul {
    display: block;
  }

  .rhr-sub-menu-link {
    padding: 0 15px;
  }

  .rhr-main-menu-link {
    line-height: $line-height-main-menu;
    padding: 0 15px;
  }
}
