@import '../../variables';

.rhr-menu-toggle {
  display: inline-block;
  cursor: pointer;
}

.rhr-bar-1,
.rhr-bar-2,
.rhr-bar-3 {
  width: 30px;
  height: 3px;
  background-color: $common-link-color;
  margin: 6px 0;
  transition: 0.4s;
}

.rhr-toggled {
  position: fixed;
  float: right;
  right: 13px;
}

.rhr-toggled .rhr-bar-1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 4px);
  transform: rotate(-45deg) translate(-6px, 4px);
}

.rhr-toggled .rhr-bar-2 {
  opacity: 0;
}

.rhr-toggled .rhr-bar-3 {
  -webkit-transform: rotate(45deg) translate(-9px, -7px);
  transform: rotate(45deg) translate(-9px, -7px);
}
