.rhr-header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(57, 25, 82);
  height: 60px;
  width: 100%;
  font-family: "Roboto Light", serif;
}

.rhr-overlap {
  position: absolute;
}

.rhr-menu-container {
  position: fixed;
  max-width: 350px;
  width: 350px;
  height: 100%;
  background-color: rgb(52, 1, 89);
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 0;
  right: 0;
  /*transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);*/
}

.rhr-menu-container-mobile-transform {
  transform: translate(100%, 0);
}

.rhr-access {
  min-width: 170px;
  height: 100%;
}

.rhr-mobile-menu {
  z-index: 1;
  margin: 13px;
}

.rhr-access-container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .rhr-access-container {
    display: block;
  }

  .rhr-menu-container {
    position: relative;
    background-color: rgb(57, 25, 82);
    max-width: 100%;
    display: block;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
  }

  .rhr-menu-container-mobile-transform {
    transform: none;
  }

  .rhr-mobile-menu {
    display: none;
  }
}
